name: MLflow CI Advance

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # MLflow akan otomatis membuat conda env dari conda.yaml
    - name: Install MLflow
      run: |
        pip install mlflow==2.19.0

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Run MLflow Project 
      run: |
        cd MLProject
        mlflow run .
    
    - name: Build Docker Image from MLflow model
      run: |
        cd MLProject
        mlflow models build-docker \
          -m runs:/0/model \
          -n raniahzaa/loan-approval-mlflow

    - name: Push Docker Image
      run: docker push raniahzaa/loan-approval-mlflow
