name: loan-approval-ci

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}   

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: "3.12"
        auto-activate-base: true

    - name: Initialize Conda
      run: |
        conda init bash
        source ~/.bashrc

    - name: Install MLflow
      run: |
        pip install mlflow==2.19.0

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Run MLflow Project (conda)
      run: |
        cd MLProject
        mlflow run .

    - name: Build Docker Image
      run: |
        cd MLProject
        mlflow models build-docker \
          -m runs:/0/model \
          -n raniahzaa/loan-approval-mlflow

    - name: Push Docker Image
      run: docker push raniahzaa/loan-approval-mlflow
