name: MLflow CI Advance

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: "3.10"

    - name: Install MLflow
      run: pip install mlflow==2.19.0

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        mlflow models build-docker \
          -m runs:/0/model \
          -n raniahzaa/loan-approval-mlflow

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
           -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

    - name: Push Docker Image
      run: docker push raniahzaa/loan-approval-mlflow
