name: MLflow CI Advance

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: "3.10"
        activate-environment: ""

    - name: Install MLflow
      run: pip install mlflow==2.22.4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
          -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Run MLflow Project & Build Docker Image
      run: |
        cd MLProject
        mlflow run . \
          --build-image \
          --docker-image-name raniahzaa/loan-approval-mlflow

    - name: Push Docker Image
      run: docker push raniahzaa/loan-approval-mlflow
