name: MLflow CI Advance

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow==2.22.4
        pip install scikit-learn pandas

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
           -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

    - name: Run MLflow Project & Build Docker Image
      run: |
        cd MLProject
        mlflow run . \
          --env-manager=local \
          --build-image \
          --docker-image-name raniahzaa/loan-approval-mlflow

    - name: Push Docker Image
      run: docker push raniahzaa/loan-approval-mlflow
